@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto" , sans-serif;
}

body{
  background: #222;
}

.card{

  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, rgb(95, 226, 187),rgb(80, 110, 192));
  margin: 100px auto 0;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 40px 35px;
 
}
  
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.search input{
  height: 60px;
  border-radius: 50px;
  box-shadow: none;
  width: 20rem;
  border: 0;
  outline: 0;
  padding: 10px 25px;
  background: #ebfffc;
   margin-right: 16px;
}

.search button{
  border-radius: 50%;
  padding: 0.3rem;
  border: 0;
  outline: 0;
   background: #ebfffc;
   width: 60px;
   height: 60px;
   cursor: pointer;

}
.invalid{
  color: rgb(255, 255, 255);
  display: none;
  margin-top: 5px;
}
.weather{
  display: none;
}
.weather_icon{
  width: 170px;
  margin-top: 30px;
}

.weather h1{
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 1px;
}

.discription{
  margin-top: 10px;
  margin-bottom: 10px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;

}

.col{
  display: flex;
  align-items: center;
  text-align: center;
}

.col img{
  width: 40px;
  margin-right:10px ;
}

.humidity , .wind{
  font-size: 28px;
  margin-top: -6px;
}
 

/* Mobile */

@media(max-width : 720px) {
 
  .search input {
    width: 68%;
    margin-left: -15px;
  }
  .col img{
width: 26px;
margin-left: -15px;
  }
  
  .col p{
    font-size: 16px;
  }

 .weather h1{
  font-size: 65px;
 }


}